@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/nate-games/copybtn@main/style.css");

html,
body {
  font-family: system-ui, -apple-system;
  color: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

* {
  font-family: system-ui, -apple-system;
  font-size: 12px;
}

a {
  color: #4ca6e9;
  text-decoration: none;
}

ul {
  list-style-position: inside;
  text-align: left;
  display: inline-block;
}

a:active {
  text-decoration: underline;
}
button {
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  background-color: #222;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #eee;
  width: 100%;
  padding: 25px 0;
  bottom: 0;
  position: relative;
}
header {
  text-align: center;
  background-color: #292e35;
  color: white;
  width: 100%;
  padding: 50px 0;
  position: relative;
}
main {
  text-align: center;
  position: relative;
  flex: 1;
  margin-bottom: 30px;
}

main div {
  display: inline-block;
  text-align: left;
}

footer {
  text-align: center;
  position: relative;
}

footer div {
  display: inline-block;
  text-align: left;
}

.arrow {
  background-color: #e3e3e3;
  color: black;
}

.arrow[data-type="next"] {
  padding-right: 10px;
}

.arrow[data-type="next"]::after {
  content: ">";
  margin-left: 5px;
  display: inline-block;
  transition: 0.2s ease;
}

.arrow[data-type="next"]:hover::after {
  transform: translateX(5px);
}

.arrow[data-type="previous"] {
  padding-left: 10px;
}

.arrow[data-type="previous"]::before {
  content: "<";
  margin-right: 5px;
  display: inline-block;
  transition: 0.2s ease;
}

.arrow[data-type="previous"]:hover::before {
  transform: translateX(-5px);
}

.card {
  display: none;
  position: relative;
  color: #fff;
  transition: 0.2s ease;
  transform: scale(0);
}

.card div {
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 50px;
  background-color: #222;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card button {
  background-color: #373737;
  color: white;
}

button[data-type="complete"] {
  background-color: #aaffbc;
  color: #016c1a;
}