@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

html,
body {
  max-width: 100%;
  font-family: system-ui, -apple-system;
  background: #222;
  color: #fff;
}

* {
  font-family: system-ui, -apple-system;
}

button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

main {
  text-align: center;
  position: relative;
}

main div {
  display: inline-block;
  text-align: left;
}

pre {
  position: relative;
}

pre:hover #copy {
  opacity: 1;
}

pre code.hljs {
  padding-right: 30px;
  border-radius: 5px;
}
#copy {
  opacity: 0;
  position: absolute;
  display: inline-block;
  border: #333 solid 1.5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  height: 24px;
  width: 24px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(#171717, #222);
  color: #fff;
}

#copy:active {
  background-image: linear-gradient(#222, #272727);
}
pre #copy:hover {
  border: #777 solid 1.5px;
  background-color: #333;
}
