@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/nate-games/copybtn@main/style.css");

html,
body {
  font-family: system-ui, -apple-system;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

* {
  font-family: system-ui, -apple-system;
}

a {
  color: #4ca6e9;
  text-decoration: none;
}

ul {
  list-style-position: inside;
  text-align: left;
  display: inline-block;
}

a:active {
  text-decoration: underline;
}
button {
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  background-color: #222;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #eee;
  width: 100%;
  padding: 25px 0;
  bottom: 0;
  position: relative;
}
header {
  text-align: center;
  background-color: #292e35;
  color: white;
  width: 100%;
  padding: 50px 0;
  position: relative;
}
main {
  text-align: center;
  position: relative;
  flex: 1;
  margin-bottom: 30px;
}

main div {
  display: inline-block;
  text-align: left;
}

footer {
  text-align: center;
  position: relative;
}

footer div {
  display: inline-block;
  text-align: left;
}

.next {
  padding-right: 10px;
  background-color: #e3e3e3;
  color: black;
}

.next::after {
  content: ">";
  margin-left: 5px;
  display: inline-block;
  transition: 0.2s ease;
}

.next:hover::after {
  transform: translateX(5px);
}
