.profile {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile[data-status="online"]::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #23a55a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #222;
}
.profile[data-status="offline"]::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #222;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2.75px #777, 0 0 0 3px #222;
}
